<form [formGroup]="registerForm" class="details-form" (ngSubmit)="onSubmit()" padding-right>
    <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" formControlName="user"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="pass"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm"></ion-input>
    </ion-item>

    <button class="submit-button" type="submit" [disabled]="!registerForm.valid">Register</button>
</form>