<ion-header>
    <ion-toolbar>
        <ion-title>{{ job.sender }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="hide-landscape">
            <ion-col size="3">Subject:</ion-col>
            <ion-col>{{ job.name }}</ion-col>
        </ion-row>
        <ion-row class="hide-landscape">
            <ion-col size="3">Sent:</ion-col>
            <ion-col>{{ job.sent }}</ion-col>
        </ion-row>
        <ion-row class="hide-landscape">
            <ion-col size="3">Cash:</ion-col>
            <ion-col>£{{ job.cash }}</ion-col>
            <ion-col size="3">Exp:</ion-col>
            <ion-col>{{ job.experience }}</ion-col>
        </ion-row>
        <ion-row class="hide-landscape">
            <ion-col size="3">Plug-in:</ion-col>
            <ion-col>{{ job.game.name }}.exe</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3">Message:</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>{{ job.description }}
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="buttons-container">
        <ion-button *ngIf="this.view === 'available'" (click)="onAddButtonClick()" [disabled]="!canAdd">Accept Job
        </ion-button>
        <ion-button *ngIf="this.view === 'player'" (click)="onRemoveButtonClick()">Remove Job</ion-button>
    </div>
</ion-content>