ion-content {
    --background: rgb(50, 50, 50);
    --color: #fff;
}

ion-header ion-title {
    color: #f90;
}

ion-grid {
    width: 95%;
    font-size: .8em;
}

ion-col {
    margin: 0px 4px;
}

ion-row:not(:last-child) {
    border-bottom: 1px dashed #242424;
}

h1 {
    margin: 0px;
}

p {
    margin: 4px 0px;
}

.buttons-container {
    width: 100%;
    bottom: 12px;
    position: absolute;
    text-align: center;
}