<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Job</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="options"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1>Title: {{ job.name }}</h1>
    <p>Description: {{ job.description }}</p>
    <p>Difficulty: {{ job.difficulty }}</p>
    <p>Game: {{ job.game }}</p>
    <p>Exp: {{ job.experience }}</p>
    <p>Cash: {{ job.cash }}</p>
    <p>Created: {{ job.created }}</p>
    <p>Duration: {{ job.duration }}</p>
    <p>Remaining: {{ math.floor(job.remaining / 1000) > 0 ? math.floor(job.remaining / 1000) : 0}}</p>
    <p>Lat: {{ job.lat }}</p>
    <p>Lng: {{ job.lng }}</p>

    <ion-button *ngIf="this.view === 'available'" (click)="onAddButtonClick()">Accept Job</ion-button>
    <ion-button *ngIf="this.view === 'player'" (click)="onRemoveButtonClick()">Remove Job</ion-button>
</ion-content>