<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title><span style="color: #fff;">Port</span><span style="color: #f90;">Hub</span></ion-title>
    </ion-toolbar>
</ion-header>

<app-statbar [user]="saveData.currentUser.user" [cash]="saveData.currentUser.cash"
    [webcash]="saveData.currentUser.webcash" [exp]="saveData.currentUser.level">
</app-statbar>

<ion-content class="ion-padding">
    <div class="content">
        <div class="page-description">
            <h1>Transfer Money</h1>
            <p>To be used in Lil' Thug Outlaw.</p>
        </div>

        <ion-list *ngIf="saveData.currentUser.cash" lines="none">
            <ion-item *ngFor="let amount of availableAmounts" class="ion-text-center">
                <ion-button (click)="onTransferItemClick($event)">
                    <span class="input-currency">{{ amount }}</span>
                </ion-button>
            </ion-item>
        </ion-list>

        <div *ngIf="!saveData.currentUser.cash" style="color: gray; text-align: center;">No funds currently available.
        </div>
    </div>

    <div class="footer">2020 (Next Level Games)</div>
</ion-content>