<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title><span style="color: #fff;">Port</span><span style="color: #f90;">Hub</span></ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style='--color: #fff;'>
    <h1>Transfer Page</h1>
    <h1>DB Management</h1>

    <div>
        <table border=' 1' width='100%' style='border-collapse: collapse;'>
            <tr>
                <th>ID</th>
                <th>user</th>
                <th>Pass</th>
                <th>Cash</th>
                <th>Web Cash</th>
                <th>Exp</th>
                <th>Level</th>
                <th>Operations</th>
            </tr>

            <tr *ngFor="let record of users">
                <td>{{ record.id }}</td>
                <td>{{ record.user }}</td>
                <td>{{ record.pass }}</td>
                <td>{{ record.cash }}</td>
                <td>{{ record.web_cash }}</td>
                <td>{{ record.exp }}</td>
                <td>{{ record.level }}</td>
                <td>
                    <button (click)="deleteRecord(record.id)">Delete</button>
                    <button (click)="selectRecord(record)">Update</button>
                </td>
            </tr>
        </table>

        <br>
        <form #f="ngForm">
            <label>User</label>
            <input type="text" name="user" [(ngModel)]="selectedRecord.user">
            <br>
            <label>Pass</label>
            <input type="text" name="pass" [(ngModel)]="selectedRecord.pass">
            <br>
            <label>Cash</label>
            <input type="text" name="cash" [(ngModel)]="selectedRecord.cash">
            <br>
            <label>Web Cash</label>
            <input type="text" name="web_cash" [(ngModel)]="selectedRecord.web_cash">
            <br>
            <label>Exp</label>
            <input type="text" name="exp" [(ngModel)]="selectedRecord.exp">
            <br>
            <label>Level</label>
            <input type="text" name="level" [(ngModel)]="selectedRecord.level">
            <br>
            <input type="button" (click)="createOrUpdateRecord(f)" value="Create or Update Policy">
        </form>

    </div>
</ion-content>