<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Game</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="options"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="game-wrapper" [ngSwitch]="gameType">
        <div *ngSwitchCase="'knightfall'" class="game-container knightfall-container">
            <iframe class="iframe-game"
                src="https://jlf40.brighton.domains/dump/angular/test/api/knightfall2/index.html"
                frameborder="0"></iframe>
        </div>

        <div *ngSwitchCase="'starfall'" class="game-container starfall-container">
            <div id="game"></div>
        </div>
    </div>
</ion-content>