.game-wrapper {
    width: 100%;
    height: 100%;
}

.game-container {
    width: 100%;
    height: 100%;   
}

#game {
    background-color: #222222;
}

.iframe-game {
    width: 100%;
    height: 100%;
}
