<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title><span style="color: #fff;">port</span><span style="color: #f90;">hub</span></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!--START SCREEN-->
    <div *ngIf="!showGame && !showScore" class="start-wrapper">
        <div *ngIf="!showAnim" class="job-info">
            <h1>Play Job</h1>
            <div class="hide-landscape">
                <ion-grid>
                    <ion-row>
                        <ion-col size="3">Subject:</ion-col>
                        <ion-col>{{ job.name }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">Sender:</ion-col>
                        <ion-col>{{ job.sender }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">Sent:</ion-col>
                        <ion-col>{{ job.sent }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">Cash:</ion-col>
                        <ion-col>£{{ job.cash }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">Exp:</ion-col>
                        <ion-col>{{ job.experience }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">Plug-in:</ion-col>
                        <ion-col>{{ gameType }}.exe</ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <div>
                <div [ngSwitch]="gameType" class="job-instructions">
                    <h3>Instructions</h3>
                    <br>
                    <div *ngSwitchCase="'fallproof'">Extract the files and get out of the system. Move by destroying
                        blocks of the same colour and rotating the view to manouver yourself. Land from above to capture
                        the files.</div>
                    <div *ngSwitchCase="'blitz'">Corrupt file transfers by tapping and destroying the data packets
                        before they reach the server.
                        Disrupt enough of the transfer before they upload what they need.</div>
                </div>
                <ion-button (click)="onPlayButtonClick()">START</ion-button>
            </div>
        </div>
        <div *ngIf="showAnim">
            <div class="load">{{player.user}}.phub@dev:~$ </div>
        </div>
    </div>

    <!--GAME SCREEN-->
    <div *ngIf="showGame" class="game-wrapper crt" [ngSwitch]="gameType">
        <div *ngIf="showFadeEnd" class="fade fade-end">
        </div>
        <div *ngIf="showFade" class="fade">
            <p [attr.data-text]="gameEndText">{{ gameEndText }}</p>
        </div>

        <div *ngSwitchCase="'fallproof'" class="game-container fallproof-container">
            <div class="ui-overlay fallproof-overlay">
                <ion-button (click)="onTestButtonClick()">TEST</ion-button>
                <!--REMOVE-->

                <p style="display: inline-block">Time: {{ timerText }}</p>
                <p style="display: inline-block; position: absolute; right: 8px">Rotations left: {{ rotations }}</p>
                <ion-progress-bar [value]="timerProgress"></ion-progress-bar>
            </div>
            <iframe class="iframe-game" [src]="iframeSrc | safe" frameborder="0"></iframe>
        </div>

        <div *ngSwitchCase="'blitz'" class="game-container blitz-container">
            <div class="ui-overlay blitz-overlay">

                <ion-button (click)="onTestButtonClick()">TEST</ion-button>
                <!--REMOVE-->

                <p>Corrupted: {{ ((uiData.caught * 128) / 1000).toFixed(2) }} / {{ uiData.corrupt.toFixed(2) }}Mb</p>
                <ion-progress-bar color="success" [value]="uiData.caughtProgress"></ion-progress-bar>
                <p>Complete: {{ ((uiData.lost * 128) / 1000).toFixed(2) }} / {{ uiData.complete.toFixed(2) }}Mb</p>
                <ion-progress-bar color="danger" [value]="uiData.lostProgress"></ion-progress-bar>
            </div>
            <div id="game"></div>
        </div>
    </div>

    <!--SCORE SCREEN-->
    <div *ngIf="showScore" class="score-wrapper">
        <div class="job-info">
            <h1>{{ feedback.header }}</h1>

            <div class="rewards">
                <h3>{{ feedback.message }}</h3>
                <ion-grid *ngIf="feedback.won">
                    <ion-row>
                        <ion-col>Cash:</ion-col>
                        <ion-col>{{ job.cash }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>XP:</ion-col>
                        <ion-col>{{ job.experience }}</ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <ion-button (click)="onDoneButtonClick()">DONE</ion-button>
        </div>
    </div>
</ion-content>