/* You can add global styles to this file, and also import other style files */


.leaflet-routing-container {
	display: none;
}

.job-modal {
    height: 80%;
    width: 96%;
    margin: auto;
    border: 1px solid black;
}