<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title><span style="color: #fff;">port</span><span style="color: #f90;">hub</span></ion-title>
    </ion-toolbar>
</ion-header>

<app-statbar [user]="player.user" [cash]="player.cash" [webcash]="player.webcash" [level]="player.level">
</app-statbar>

<ion-content>
    <div *ngIf="!loaded" class="loading-spinner">
        <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div class="inner-content">
        <div class="map-view-container">
            <app-map-view (storageUpdateEvent)="updateStats($event)">
            </app-map-view>
        </div>
    </div>
</ion-content>