<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>PortHub</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="options"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!loaded" class="loading-spinner">
        <ion-spinner name="crescent"></ion-spinner>
        <h3>Loading Map</h3>
    </div>

    <div class="inner-content">
        <div class="map-view-container">
            <app-map-view interactive="true">
            </app-map-view>
        </div>
    </div>
</ion-content>