ion-content {
    --padding-top: 10% !important;
}

ion-slides {
    height: 100%;
    --bullet-background-active: #f90;
}

strong {
    color:#f90;
}

.tutorial-content {
    height: calc(100% - 57px);
    padding: 8px;
    background: #242424;
    color: lightgray;
    font-size: .9em;
}

.tutorial-slide {
    height: 100%;
    width: 100%;
    padding: 16px;
}

.toggle-form p {
    display: inline-block;
    margin-right: 12px;
    color: #fff;
}

.toggle-form ion-button {
    vertical-align: top;
}

@media all and (orientation:landscape) {
    ion-content {
        --padding-top: 5% !important;
    }
}