<ion-header>
    <ion-toolbar>
        <ion-title><span style="color: #fff;">Port</span><span style="color: #f90;">Hub</span></ion-title>
    </ion-toolbar>
</ion-header>

<app-statbar *ngIf="showHome" [user]="saveData.currentUser.user" [cash]="saveData.currentUser.cash"
    [webcash]="saveData.currentUser.webcash" [exp]="saveData.currentUser.level">
</app-statbar>

<ion-content *ngIf="!showTutorial" class="ion-padding">
    <div style="height:90%">
        <div class="page-description">
            <h1>Welcome to PortHub</h1>
            <p>Access local or remote network ports.</p>
        </div>

        <div *ngIf="showHome" class="home-content">
            <ion-list lines="none">
                <ion-item class="ion-text-center">
                    <ion-button [routerLink]="['/jobs']">Jobs</ion-button>
                </ion-item>
                <ion-item class="ion-text-center">
                    <ion-button [routerLink]="['/map']">Map</ion-button>
                </ion-item>
                <ion-item class="ion-text-center">
                    <ion-button [routerLink]="['/inventory']">Inventory</ion-button>
                </ion-item>
                <ion-item class="ion-text-center">
                    <ion-button [routerLink]="['/transfer']">Transfer</ion-button>
                </ion-item>
                <ion-item class="ion-text-center">
                    <ion-button [routerLink]="['/account']">Account</ion-button>
                </ion-item>
            </ion-list>
        </div>

        <div *ngIf="showLoading" class="loading-spinner">
            <ion-spinner name="crescent"></ion-spinner>
        </div>

        <div *ngIf="showForms" class="user-forms" [ngSwitch]="formView">

            <div *ngIf="!changingForm">
                <div *ngSwitchCase="'login'">
                    <app-login (onVerify)="onLogin($event)"></app-login>
                </div>

                <div *ngSwitchCase="'register'">
                    <app-registration (onCreate)="onRegistration($event)"></app-registration>
                </div>

                <br>
                <div class="toggle-form">
                    <p>{{ toggleFormText.label }}</p>
                    <ion-button #toggleView (click)="toggleForm()">{{ toggleFormText.button }}</ion-button>
                </div>

                <br>
                <p style="font-size: .8em; font-style: italic; color: darkgrey">*Username and password must be between 6
                    and
                    16 characters.
                </p>
            </div>
        </div>
    </div>

    <div class="footer">2020 (Next Level Games)</div>
</ion-content>

<!-- TUTORIAL SLIDES -->
<div *ngIf="showTutorial" class="tutorial-content">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <div class="tutorial-slide">
                <h1>Introduction</h1>
                <div class="tutorial-content">
                    <h4>Welcome to <strong>PortHub</strong></h4>
                    <p>Engage in the darker side of the digital world and carry out cyber attacks tasked to you by
                        various unsavoury characters, to earn <strong>Cash</strong> and <strong>XP</strong> which you
                        can transfer to
                        your
                        <strong>Lil'Thug Outlaw</strong> account</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="tutorial-slide">
                <h1>Accepting Jobs</h1>
                <div class="tutorial-content">
                    <h4>Check your Messages</h4>
                    <p>People will send you job invitations regularly, which you can
                        accept or remove from the <strong>Jobs</strong> section</p>
                    <p><strong>Local</strong> jobs may require you to go and be in the vicinity of the network to carry
                        out, while <strong>Remote</strong>
                        jobs can be
                        done from your current location but may reward less</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="tutorial-slide">
                <h1>The Map</h1>
                <div class="tutorial-content">
                    <h4>Know your surroundings</h4>
                    <p>Any jobs you accept will be marked on a real-world map around your device's location</p>
                    <p>Tap a <strong>Marker</strong> to view the job description and start the challenge</p>
                    <p>(Access to device Location will be required)</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="tutorial-slide">
                <h1>Gameplay Instructions</h1>
                <div class="tutorial-content">
                    <h4>Don't get caught</h4>
                    <p><strong>Blitz:</strong></p>
                    <p>Corrupt files by tapping and destroying the data packets
                        before they reach the server.
                        Disrupt enough of the transfer before they upload what they need.</p>
                    <p><strong>Fallproof:</strong></p>
                    <p>Extract the files and get out of the system. Move by destroying
                        blocks of the same colour and rotating the view to manouver yourself. Land from above to capture
                        the files.</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="tutorial-slide">
                <h1>Transferring Money</h1>
                <div class="tutorial-content">
                    <h4>Get what you're given</h4>
                    <p>Any <strong>Cash</strong> earned from completed jobs can be transferred to be used in your
                        <strong>Lil' Thug
                            Outlaw</strong>
                        account</p>
                    <p>Different characters pay different amounts and remote jobs earn less</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="tutorial-slide">
                <h1>View your Account</h1>
                <div class="tutorial-content">
                    <h4>Check your progress</h4>
                    <p>You can view some of your stats in the <strong>Account</strong> section</p>
                    <p>It will display cash values for both <strong>PortHub</strong> and <strong>Lil' Thug
                            Outlaw</strong></p>
                    <p>You can also sign out from here as well</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="tutorial-slide">
                <h1>Lil' Thug Outlaw</h1>
                <div class="tutorial-content">
                    <h4>Remember your password</h4>
                    <p>This same account can be used to sign in to <strong>Lil' Thug Outlaw</strong></p>
                    <p>An account can be registered from either and used for both</p>
                    <p>https://jlf40.brighton.domains/ci328/a1/game/outlaw.html</p>
                    <p><strong>Lil' Thug Outlaw</strong> is a desktop game, view this URL from a computer</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="tutorial-slide">
                <h1>That's it!</h1>
                <div class="tutorial-content">
                    <h4>Have fun out there</h4>
                    <p>There's not a lot more I can teach you, I'm sure you can figure it out</p>
                    <p>Goodluck!</p>

                    <ion-button style="margin-top: 20px" (click)="endTutorial()">LET'S GO</ion-button>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</div>