<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title><span style="color: #fff;">Port</span><span style="color: #f90;">Hub</span></ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<app-statbar [user]="saveData.currentUser.user" [cash]="saveData.currentUser.cash"
    [webcash]="saveData.currentUser.web_cash" [exp]="saveData.currentUser.exp">
</app-statbar>

<ion-content class="ion-padding">
    <h1>Inventory Page</h1>

    <div>
        <ion-list lines="none">
            <ion-item *ngFor="let amount of availableAmounts" text-center>
                <ion-button (click)="onTransferItemClick($event)">
                    <span class="input-currency">{{ amount }}</span>
                </ion-button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>