<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title><span style="color: #fff;">port</span><span style="color: #f90;">hub</span></ion-title>
    </ion-toolbar>
</ion-header>

<app-statbar [user]="saveData.currentUser.user" [cash]="saveData.currentUser.cash"
    [webcash]="saveData.currentUser.webcash" [level]="saveData.currentUser.level">
</app-statbar>

<ion-content class="ion-padding">
    <div class="content">
        <div class="page-description">
            <h2>Purchase Upgrades</h2>
            <p>Increase performance of Plug-ins, no refunds</p>
        </div>

        <div *ngFor="let plugin of availablePlugins; index as i" class="upgrade-list-wrapper">
            <h1>{{ pluginKeys[i] }}<span>.exe</span></h1>
            <p>ACTIVE</p>
            <ion-list class="upgrade-list" lines="none">
                <ion-item *ngFor="let upgrade of plugin.upgrades, index as j">
                    <div class="upgrade-description">
                        <div>
                            <p class="description-text"></p>
                        </div>
                        <div>
                            <p>Current Level: {{ upgrade.level }}</p>
                            <p *ngIf="prices[upgrade.level]">Next: £{{ prices[upgrade.level] }}</p>
                        </div>
                    </div>
                    <ion-button slot="end" [disabled]="!prices[upgrade.level]" (click)="purchaseUpgrade(i, j)">
                        {{ prices[upgrade.level] ? 'BUY' : 'MAX' }}
                    </ion-button>
                    <ion-toggle slot="end" [disabled]="!upgrade.level" [(ngModel)]="upgrade.active"
                        (ionChange)="onToggleChange(i, j)">
                    </ion-toggle>
                </ion-item>
            </ion-list>
        </div>
    </div>

    <div class="footer">2020 NEXT LEVEL GAMES</div>
</ion-content>