ion-content {
    --padding-top: 10% !important;
}

ion-grid {
    color: #fff;
    --background: rgb(50, 50, 50);
    width: 95%;
    font-size: .8em;
}

ion-col {
    margin: 0px 4px;
}

ion-row:not(:last-child) {
    border-bottom: 1px dashed #242424;
}

ion-list {
    padding: 31px 0;
}

@media all and (orientation:landscape) {
    ion-content {
        --padding-top: 5% !important;
    }

    .content {
        margin-bottom: 40% !important;
    }
}