.map-container {
	width: 100%;
	height: 100%;
}

#map {
	width: 100%;
    height: 94%;
}

iframe {
    position: absolute;
    height: 300px;
    width: 327px;
    top: 0;
    z-index: 500;
    margin: auto;
    left: 0;
    right: 0;
}