ion-content {
    --padding-top: 10% !important;
}

ion-list {
    background: rgb(50, 50, 50) !important;
}

ion-item {
    --background: darkgray;
    --padding-start: 0px !important;
    --padding-end: 0px !important;
    --inner-padding-start: 0px !important;
    --inner-padding-end: 0px !important;
}

ion-segment {
    --color-checked: #f90;
    --color: white;
    --indicator-color: gray;
}

ion-segment-button {
    background: #1b1b1b;
    --border-color: none;
}

.job-countdown {
    margin: 0;
    font-size: 0.6em;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;
}

.job-content {
    margin: 0px 8px;
    width: 96%;
    margin: auto;
}

.job-content h1,h6 {
    margin-left: 8px;
}

.segments {
    height: 376px;
}

.segment-button-checked {
    background: rgb(50, 50, 50);
}

.jobs-list,
.available-list,
.player-list {
    height: 100%;
}

.jobs-list ion-item {
    cursor: pointer;
    border: 1px solid grey;
    --min-height: 70px;
}

.jobs-list ion-item > * {
    pointer-events: none;
}

.jobs-list ion-item:active {
    --background: grey;
}

.job-sender-thumb {
    margin-left: 8px;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.job-info {
    position: relative;
    width: 60%;
    height: 100%;
    padding: 6px;
    margin-left: 10px;
}

.job-info div {
    display: inline;
}

.info-sender {
    margin-bottom : 4px;
}
.info-remaining {
    position: absolute;
    right: 16px;
    margin-left:  auto;
    margin-right: 0;
    font-size: .6em;
}

.info-time {
    position: absolute;
    right: 0px;
    margin-left:  auto;
    margin-right: 0;
    font-size: .65em;
}

.info-description {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-top: 3px;
    height: 60%;
    font-size: .6em;
}

.job-badge {
    text-align: center;
    margin: auto;
}

.job-badge ion-badge {
    --ion-color-base: #f90 !important;
}