ion-content {
    --overflow: hidden;
}

.inner-content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.map-view-container {
    flex-grow: 1;
}

.hide {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
}