<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title><span style="color: #fff;">Port</span><span style="color: #f90;">Hub</span></ion-title>
    </ion-toolbar>
</ion-header>

<app-statbar [user]="saveData.currentUser.user" [cash]="saveData.currentUser.cash"
    [webcash]="saveData.currentUser.webcash" [exp]="saveData.currentUser.level">
</app-statbar>

<ion-content>
    <div *ngIf="!loaded" class="loading-spinner">
        <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div *ngIf="loaded" class="content">
        <div class="page-description">
            <h1>Review and Accept Jobs</h1>
            <p>Messages appear here (5 max)</p>
        </div>

        <div class="job-content">
            <p class="job-countdown" [ngStyle]="{ 'color': this.maxJobsReached ? 'gray' : 'white'}">Next job in:
                {{timeConversion(countdown)}}</p>

            <ion-segment [(ngModel)]="segment">
                <ion-segment-button value="available">
                    <ion-label>Available</ion-label>
                </ion-segment-button>
                <ion-segment-button value="player">
                    <ion-label>Current</ion-label>
                </ion-segment-button>
            </ion-segment>

            <div class="segments" [ngSwitch]="segment">
                <div *ngSwitchCase="'available'" class="available-list">
                    <ion-list class="jobs-list" lines="none">
                        <ion-item *ngFor="let job of availableJobsCollection; index as i"
                            (click)="onJobItemClick($event)" [attr.id]="i">
                            <div class="job-sender-thumb" [ngStyle]="{ 'background': job.colour}">
                                <div>{{ job.sender.charAt(0) }}</div>
                            </div>

                            <div class="job-info">
                                <div class="info-sender">{{ job.sender }}</div>
                                <div class="info-time">Remaining time: {{ timeConversion(job.remaining) }}</div>
                                <div class="info-description">{{ job.description }}</div>
                            </div>

                            <div class="job-badge">
                                <ion-badge color="primary">{{ job.type }}</ion-badge>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>

                <div *ngSwitchCase="'player'" class="player-list">
                    <ion-list class="jobs-list" lines="none">
                        <ion-item *ngFor="let job of playerJobsCollection; index as i" (click)="onJobItemClick($event)"
                            [attr.id]="i">
                            <div class="job-sender-thumb" [ngStyle]="{ 'background': job.colour}">
                                <div>{{ job.sender.charAt(0) }}</div>
                            </div>

                            <div class="job-info">
                                <div class="info-sender">{{ job.sender }}</div>
                                <div class="info-description">{{ job.description }}</div>
                            </div>

                            <div class="job-badge">
                                <ion-badge color="primary">{{ job.type }}</ion-badge>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">2020 (Next Level Games)</div>
</ion-content>